<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.smartregister.unicef.mis">
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
<!--    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation"
        tools:targetApi="s" />

    <application
        android:name="org.smartregister.unicef.mis.HnppApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_shb_logo_maa_shishu_gov"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/HNPPTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup,android:icon">
        <activity
            android:name="org.smartregister.unicef.mis.activity.PaymentHistoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
        </activity>
        <activity
            android:name="org.smartregister.unicef.mis.activity.UpdateLocationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"></activity>
        <activity
            android:name="org.smartregister.unicef.mis.activity.PaymentSuccess_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="org.smartregister.unicef.mis.activity.GlobalSearchMemberProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="org.smartregister.unicef.mis.activity.BkashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="org.smartregister.unicef.mis.activity.InvalidDataDisplayActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="org.smartregister.unicef.mis.activity.RiskyDataDisplayActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="org.smartregister.unicef.mis.activity.PaymentActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/HNPPTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="org.smartregister.unicef.mis.activity.DFSActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="org.smartregister.unicef.mis.activity.GlobalSearchDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="org.smartregister.unicef.mis.activity.GlobalSearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="org.smartregister.unicef.mis.activity.MigrationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="org.smartregister.unicef.mis.activity.NotificationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:exported="true"
            android:name="org.smartregister.unicef.mis.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.Login"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.vijay.jsonwizard.activities.JsonFormActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="org.smartregister.family.activity.FamilyWizardFormActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="com.vijay.jsonwizard.activities.JsonWizardFormActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="org.smartregister.unicef.mis.activity.FamilyRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar" />
        <activity
            android:name="org.smartregister.unicef.mis.activity.FamilyProfileActivity"
            android:label="@string/title_family_detail"
            android:parentActivityName="org.smartregister.unicef.mis.activity.FamilyRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.smartregister.unicef.mis.activity.FamilyRegisterActivity" />
        </activity>
        <activity
            android:name="org.smartregister.unicef.mis.activity.GuestMemberProfileActivity"
            android:label="@string/title_family_detail"
            android:screenOrientation="portrait"
            android:theme="@style/FamilyTheme.NoActionBar" />
        <activity
            android:name="org.smartregister.unicef.mis.activity.HnppFamilyOtherMemberProfileActivity"
            android:label="@string/title_family_detail"
            android:parentActivityName="org.smartregister.unicef.mis.activity.FamilyRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.smartregister.unicef.mis.activity.FamilyProfileActivity" />
        </activity>
        <activity
            android:name="org.smartregister.unicef.mis.activity.ChildRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar" />
        <activity
            android:name="org.smartregister.unicef.mis.activity.AncMedicalHistoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar" />
        <activity
            android:name="org.smartregister.unicef.mis.activity.IndividualProfileRemoveActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar" />
        <activity
            android:name="org.smartregister.unicef.mis.activity.HnppHomeVisitActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar" />
        <activity
            android:name="org.smartregister.unicef.mis.activity.HnppChildProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar" />
        <activity
            android:name="org.smartregister.unicef.mis.activity.FamilyRemoveMemberActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar" />
        <activity
            android:name="org.smartregister.unicef.mis.activity.FamilyProfileMenuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar" />
        <activity
            android:name="org.smartregister.chw.core.activity.CoreChildMedicalHistoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar" />
        <activity
            android:name="org.smartregister.unicef.mis.activity.ReferralTaskViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar" />
        <activity
            android:name="org.smartregister.unicef.mis.activity.AncRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar" />
        <activity
            android:name="org.smartregister.unicef.mis.activity.HnppAncRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar" />
        <activity
            android:name="org.smartregister.unicef.mis.activity.HnppAncRiskRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar" />
        <activity
            android:name="org.smartregister.unicef.mis.activity.HnppElcoRiskRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar" />
        <activity
            android:name="org.smartregister.unicef.mis.activity.HnppChildRiskRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar" />
        <activity
            android:name="org.smartregister.unicef.mis.activity.HnppPncRiskRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="3f94f9c3caeff331b3a2bd8c2182b663ad6a955a" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/captured_images_path" />
        </provider>

<!--        <activity-->
<!--            android:name=".activity.AboveFiveChildProfileActivity"-->
<!--            android:label="@string/child_details"-->
<!--            android:screenOrientation="portrait"-->
<!--            android:theme="@style/HNPPTheme.NoActionBar" />-->
        <activity android:name="org.smartregister.chw.core.activity.ChwP2pModeSelectActivity" />
        <activity
            android:name="org.smartregister.unicef.mis.activity.HNPPJsonFormActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/FamilyTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="org.smartregister.unicef.mis.activity.GuestAddMemberJsonFormActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/FamilyTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="org.smartregister.unicef.mis.activity.HNPPJsonWizardFormActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/FamilyTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="org.smartregister.unicef.mis.activity.IndividualProfileRemoveJsonFormActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/FamilyTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="org.smartregister.unicef.mis.activity.HnppAncJsonFormActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/FamilyTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="org.smartregister.unicef.mis.activity.HnppFormViewActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/FamilyTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="org.smartregister.unicef.mis.activity.COVIDJsonFormActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/FamilyTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="org.smartregister.unicef.mis.activity.HNPPMemberJsonFormActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/FamilyTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity android:name="org.smartregister.unicef.mis.activity.HnppCoreChildProfileActivity" />
        <activity
            android:name="org.smartregister.unicef.mis.activity.HnppAllMemberRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar" />
        <activity
            android:name="org.smartregister.unicef.mis.activity.AdultMemberRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar" />
        <activity
            android:name="org.smartregister.unicef.mis.activity.AdoMemberRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar" />
        <activity
            android:name="org.smartregister.unicef.mis.activity.WomenServiceRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar" />
        <activity
            android:name="org.smartregister.unicef.mis.activity.IYCFRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar" />
        <activity
            android:name="org.smartregister.unicef.mis.activity.AdultRiskRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar" />
        <activity
            android:name="org.smartregister.unicef.mis.activity.ForceSyncActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar" />
        <activity
            android:name="org.smartregister.unicef.mis.activity.QRScannerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar" />
        <activity
            android:name="org.smartregister.unicef.mis.activity.SearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar" />
        <activity
            android:name="org.smartregister.unicef.mis.activity.NewDashBoardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="org.smartregister.unicef.mis.activity.GrowthReportActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="org.smartregister.unicef.mis.activity.GuestMemberActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity android:name="org.smartregister.unicef.mis.activity.HnppSettingsActivity" />
        <activity
            android:name="org.smartregister.unicef.mis.activity.HnppPncRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar" />
        <activity
            android:name="org.smartregister.unicef.mis.activity.HnppElcoMemberRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar" />
        <activity
            android:name="org.smartregister.unicef.mis.activity.ChildVaccinationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar" />


        <activity
            android:name="org.smartregister.unicef.mis.activity.SearchHHMemberActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar" />


        <activity android:name="org.smartregister.unicef.mis.activity.TermAndConditionWebView"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity android:name="org.smartregister.unicef.mis.activity.WebViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity android:name="org.smartregister.unicef.mis.activity.TikaCardViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity android:name="org.smartregister.unicef.mis.activity.ChildGMPActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar"/>
        <activity android:name=".activity.AddSessionActivity" android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <activity android:name=".activity.AddWorkerActivity" android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <activity android:name=".activity.AddDistributionActivity" android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <activity android:name=".activity.AddCenterDetailsActivity" android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <activity android:name=".activity.AddOutreachActivity" android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <activity android:name=".activity.MicroPlanActivity" android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <activity android:name=".activity.OutreachActivity" android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <activity android:name=".activity.AddMicroplanActivity" android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <activity android:name="mpower.iot.IOTActivity" android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <activity android:name=".activity.AddMemberSearchActivity" android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <service android:name="org.smartregister.unicef.mis.service.HnppSyncIntentService" />

        <service android:name="org.smartregister.immunization.service.intent.VaccineIntentService" />
        <service android:name="org.smartregister.immunization.service.intent.RecurringIntentService" />
        <service android:name="org.smartregister.sync.intent.PullUniqueIdsIntentService" />
        <service android:name="org.smartregister.unicef.mis.service.NotificationGeneratorIntentService" /> <!-- <service android:name="org.smartregister.sync.intent.SyncIntentService" /> -->
        <service android:name="org.smartregister.sync.intent.ExtendedSyncIntentService" />
        <service android:name="org.smartregister.sync.intent.ValidateIntentService" />
        <service android:name="org.smartregister.sync.intent.DatSyncByBaseEntityIntentService"/>
        <service android:name="org.smartregister.sync.intent.CompareDataIntentService"/>
        <service android:name="org.smartregister.sync.intent.InValidateIntentService" />
        <service android:name="org.smartregister.sync.intent.ForceSyncIntentService" />
        <service android:name="org.smartregister.service.ImageUploadSyncService" />
        <service android:name="org.smartregister.sync.intent.LocationIntentService" />
        <service android:name="org.smartregister.unicef.mis.sync.intent.PullHouseholdIdIntentService" />
        <service android:name="org.smartregister.unicef.mis.service.HALocationFetchIntentService" />
        <service android:name="org.smartregister.unicef.mis.service.GlobalLocationFetchIntentService" />
        <service android:name="org.smartregister.unicef.mis.service.TargetFetchIntentService" />
        <service android:name="org.smartregister.unicef.mis.service.MicroPlanFetchIntentService" />
        <service android:name="org.smartregister.unicef.mis.service.MigrationFetchIntentService" />
        <service android:name="org.smartregister.unicef.mis.service.StockFetchIntentService" />
        <service android:name="org.smartregister.unicef.mis.service.VaccineDueUpdateIntentService" />
        <service android:name="org.smartregister.unicef.mis.service.VisitLogIntentService" />
        <service android:name="org.smartregister.unicef.mis.service.HnppPncCloseDateIntent" />
        <service android:name="org.smartregister.unicef.mis.service.GuestMemberIdIntentService" />
        <service android:name="org.smartregister.unicef.mis.service.DataDeleteIntentService" />
        <service android:name="org.smartregister.growthmonitoring.service.intent.WeightIntentService" />
        <service android:name="org.smartregister.growthmonitoring.service.intent.WeightForHeightIntentService" />
        <service android:name="org.smartregister.growthmonitoring.service.intent.MuacIntentService" />
        <service android:name="org.smartregister.growthmonitoring.service.intent.HeightIntentService" />
        <service android:name="org.smartregister.immunization.service.intent.VaccineIntentService" />
        <service android:name="org.smartregister.growthmonitoring.service.intent.ZScoreRefreshIntentService" />
        <service android:name="org.smartregister.unicef.mis.service.CampFetchIntentService" />
        <service android:name=".service.OtherVaccineDueIntentService" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>