<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.smartregister.brac.hnpp">
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".HnppApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_app_icon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/HNPPTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup,android:icon">
        <activity
            android:name=".activity.PaymentHistoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
        </activity>
        <activity
            android:name=".activity.BkashStatusActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"></activity>
        <activity
            android:name=".activity.PaymentSuccess_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".activity.BkashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".activity.PaymentActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/HNPPTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".activity.DFSActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".activity.MigrationSearchDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".activity.MigrationFilterSearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".activity.MigrationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".activity.NotificationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.Login"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.vijay.jsonwizard.activities.JsonFormActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="org.smartregister.family.activity.FamilyWizardFormActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="com.vijay.jsonwizard.activities.JsonWizardFormActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".activity.FamilyRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar" />
        <activity
            android:name=".activity.FamilyProfileActivity"
            android:label="@string/title_family_detail"
            android:parentActivityName=".activity.FamilyRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.smartregister.brac.hnpp.activity.FamilyRegisterActivity" />
        </activity>
        <activity
            android:name=".activity.GuestMemberProfileActivity"
            android:label="@string/title_family_detail"
            android:screenOrientation="portrait"
            android:theme="@style/FamilyTheme.NoActionBar" />
        <activity
            android:name=".activity.HnppFamilyOtherMemberProfileActivity"
            android:label="@string/title_family_detail"
            android:parentActivityName=".activity.FamilyRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FamilyTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.smartregister.brac.hnpp.activity.FamilyProfileActivity" />
        </activity>
        <activity
            android:name=".activity.ChildRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar" />
        <activity
            android:name=".activity.AncMedicalHistoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar" />
        <activity
            android:name=".activity.IndividualProfileRemoveActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar" />
        <activity
            android:name=".activity.HnppHomeVisitActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar" />
        <activity
            android:name=".activity.HnppChildProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar" />
        <activity
            android:name=".activity.FamilyRemoveMemberActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar" />
        <activity
            android:name=".activity.FamilyProfileMenuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar" />
        <activity
            android:name="org.smartregister.chw.core.activity.CoreChildMedicalHistoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar" />
        <activity
            android:name=".activity.ReferralRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar" />
        <activity
            android:name=".activity.ReferralTaskViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar" />
        <activity
            android:name=".activity.AncRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar" />
        <activity
            android:name=".activity.HnppAncRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar" />
        <activity
            android:name=".activity.HnppAncRiskRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar" />
        <activity
            android:name=".activity.HnppElcoRiskRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar" />
        <activity
            android:name=".activity.HnppChildRiskRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar" />
        <activity
            android:name=".activity.HnppPncRiskRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar" />

        <activity
            android:name="org.smartregister.chw.core.activity.CoreAncMemberProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="3f94f9c3caeff331b3a2bd8c2182b663ad6a955a" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/captured_images_path" />
        </provider>

        <activity
            android:name=".activity.AboveFiveChildProfileActivity"
            android:label="@string/child_details"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar" />
        <activity android:name="org.smartregister.chw.core.activity.ChwP2pModeSelectActivity" />
        <activity
            android:name=".activity.HNPPJsonFormActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/FamilyTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".activity.GuestAddMemberJsonFormActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/FamilyTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".activity.HNPPJsonWizardFormActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/FamilyTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".activity.IndividualProfileRemoveJsonFormActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/FamilyTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".activity.HnppAncJsonFormActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/FamilyTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".activity.HnppFormViewActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/FamilyTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".activity.COVIDJsonFormActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/FamilyTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".activity.HNPPMemberJsonFormActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/FamilyTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity android:name=".activity.HnppCoreChildProfileActivity" />
        <activity
            android:name=".activity.HnppAllMemberRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar" />
        <activity
            android:name=".activity.SkSelectionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar" />
        <activity
            android:name=".activity.AdultMemberRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar" />
        <activity
            android:name=".activity.AdoMemberRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar" />
        <activity
            android:name=".activity.WomenServiceRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar" />
        <activity
            android:name=".activity.IYCFRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar" />
        <activity
            android:name=".activity.AdultRiskRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar" />
        <activity
            android:name=".activity.ForceSyncActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar" />
        <activity
            android:name=".activity.NewDashBoardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".activity.SimprintsIdentityActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".activity.GuestMemberActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity android:name=".activity.HnppSettingsActivity" />
        <activity
            android:name=".activity.HnppPncRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar" />
        <activity
            android:name=".activity.HnppElcoMemberRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar" />
        <activity
            android:name=".activity.ChildVaccinationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar" />
        <activity
            android:name=".activity.ForumActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar" />
        <activity
            android:name=".activity.ForumDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar" />
        <activity
            android:name=".activity.SearchHHMemberActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar" />
        <activity
            android:name=".activity.ForumHistoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar" />
        <activity
            android:name=".activity.ForumHistoryDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar" />
        <activity
            android:name=".activity.SSInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar" />
        <activity android:name=".activity.TermAndConditionWebView"
            android:screenOrientation="portrait"
            android:theme="@style/HNPPTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <service android:name=".service.HnppSyncIntentService" />
        <service android:name="org.smartregister.immunization.service.intent.VaccineIntentService" />
        <service android:name="org.smartregister.immunization.service.intent.RecurringIntentService" />
        <service android:name="org.smartregister.sync.intent.PullUniqueIdsIntentService" />
        <service android:name=".service.NotificationGeneratorIntentService" /> <!-- <service android:name="org.smartregister.sync.intent.SyncIntentService" /> -->
        <service android:name="org.smartregister.sync.intent.ExtendedSyncIntentService" />
        <service android:name="org.smartregister.sync.intent.ValidateIntentService" />
        <service android:name="org.smartregister.sync.intent.DatSyncByBaseEntityIntentService"/>
        <service android:name="org.smartregister.sync.intent.CompareDataIntentService"/>
        <service android:name="org.smartregister.sync.intent.InValidateIntentService" />
        <service android:name="org.smartregister.sync.intent.ForceSyncIntentService" />
        <service android:name="org.smartregister.service.ImageUploadSyncService" />
        <service android:name="org.smartregister.sync.intent.LocationIntentService" />
        <service android:name=".sync.intent.PullHouseholdIdIntentService" />
        <service android:name=".service.SSLocationFetchIntentService" />
        <service android:name=".service.TargetFetchIntentService" />
        <service android:name=".service.MigrationFetchIntentService" />
        <service android:name=".service.StockFetchIntentService" />
        <service android:name=".service.VisitLogIntentService" />
        <service android:name=".service.HnppPncCloseDateIntent" />
        <service android:name=".service.GuestMemberIdIntentService" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>